<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자 정보 수정</title>
</head>
<body>
    <h3>사용자 정보 수정</h3>
    <form action="/profile">
        <label for="user_id">user_id : </label>
        <input type='text' name="user_id" value="{{ user.user_id }}" readonly>

        <label for="nickname">닉네임 : </label>
        <input type='text' name="nickname" value="{{ user.nickname }}">
        
        <label for="age">연령대 : </label>
        <select name="age">
        {% for age in ages %}
            {% if age == user.age %}
                <option value="{{ age }}" selected>{{ age }}</option>
            {% else %}
                <option value="{{ age }}">{{ age }}</option>
            {% endif %}
        {% endfor %}
        </select>

        <label for="gender">성별 : </label>
        <select name="gender">
            <option value="M" {% if user.gender=="M" %} selected{% endif %}>Male</option>
            <option value="F" {% if user.gender=="F" %} selected{% endif %}>Female</option>
        </select>
    
        <button type="submit">수정 저장</button>
    </form>
    
</body>
</html>