header {
    text-align: center;
}

header>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 100%;
    height: 100%;
}

.arrowL {
    margin: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 15px 10px 0;
    border-color: transparent #999999 transparent transparent;
    background-color: transparent;
}

.arrowR {
    margin: 5px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #999999;
    background-color: transparent;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    font-size: 20px;

}

th {
    width: 14%;
    background-color: #eeeeee;
}

td {
    text-align: center;
}

tr,
th,
td {
    padding: 10px;
}

table th:last-child,
table td:last-child {
    color: blue;
}

table th:first-child,
table td:first-child {
    color: red;
}

.holiday {
    color: red;
    background-color: #ffeeee;

}