.label-styles {
    font-size: 18.2px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.6px;
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    height: 90vh;
    padding: 24px;
    font-size: 30px;
    font-family: 'Helvetica', sans-serif;
    line-height: 1.2;
    background-color: hotpink;
}

a {
    color: mediumslateblue;
}

a:focus {
    color: hotpink;
}

h2 {
    font-weight: 700;
    font-size: 45px;
}

.form {
    position: relative;
    width: 100%;
    max-width: 675px;
    margin: 0 auto;
    transform: skewY(-5deg) translateY(10%) scale(0.94);
    transition:
        box-shadow 350ms cubic-bezier(0.075, 0.82, 0.165, 1),
        transform 350ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.form::before,
.form::after {
    content: '';
    position: absolute;
    pointer-events: none;
    background-color: #e6e6e6;
    width: 25%;
    height: 100%;
    transition:
        background-color 350ms cubic-bezier(0.075, 0.82, 0.165, 1),
        transform 350ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.form::before {
    top: 0;
    right: calc(100% - 1px);
    transform-origin: 100% 100%;
    transform: skewY(-35deg) scaleX(-1);
    z-index: -1;
}

.form::after {
    top: 0;
    left: calc(100% - 1px);
    transform-origin: 0 0;
    transform: skewY(-35deg) scaleX(-1);
    z-index: 2;
}

.form:hover,
.form:focus-within {
    transform: scale(1.0001);
    box-shadow: 0 24px 72px rgba(0, 0, 0, 0.1);
}

.form:hover::before,
.form:hover::after,
.form:focus-within::before,
.form:focus-within::after {
    background-color: white;
    transform: skewY(0);
}

.form-inner {
    padding: 48px;
    background-color: white;
    z-index: 1;
}

.form-inner>*+* {
    margin-top: 48px;
}

.input-wrapper:focus-within label {
    color: hotpink;
}

.input-wrapper:focus-within .icon {
    background-color: hotpink;
}

.input-wrapper:focus-within input {
    border-color: hotpink;
}

.input-wrapper+.input-wrapper {
    margin-top: 36px;
}

.input-group {
    position: relative;
}

.input-group input {
    border-radius: 6px;
    padding-left: calc(16px + 90px);
}

.input-group .icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    pointer-events: none;
}

label {
    display: block;
    margin-bottom: 12px;
    color: mediumslateblue;
    font-size: 18.2px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.6px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: mediumslateblue;
    height: 72px;
    width: 72px;
}

.icon i {
    padding-top: 7.5px;
    padding-left: 7.5px;
    width: 1.5em;
    height: 1.5em;
    color: white;
    pointer-events: none;
    user-select: none;
    transition: transform 350ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

input {
    flex: 1 1 0;
    width: 100%;
    outline: none;
    padding: 24px;
    font-size: 30px;
    font-family: 'Helvetica', sans-serif;
    color: hotpink;
    border: 2px solid mediumslateblue;
}

input:focus {
    color: mediumslateblue;
}

.btn-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-group>*+* {
    margin-left: 16px;
}

.btn {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: none;
    padding: 24px 36px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 6px;
}

.btn--primary {
    font-size: 18.2px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    background-color: mediumslateblue;
    border-color: mediumslateblue;
    color: white;
}

.btn--primary:focus {
    background-color: hotpink;
    border-color: hotpink;
}

.btn--text {
    font-size: 20px;
    padding: 0;
}