<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>상점 리스트</h1>
    <!-- 미션3. 검색을 위한 폼추가 -->
    <!-- 폼과 입력값을 넣고 / 를 다시 불러서 그 검색 내용만 출력되게...
      '홍대'를 넣으면 *홍대* 이런 형태로 검색해서 목록 표시하기
      GET방식으로, 쿼리파라미터로 보내기 -->
    <form>
        <input type="text" name="searchText" placeholder="검색어 입력"/>
        <button type="submit">검색</button>
    </form>
    <p></p>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Birthdate</th>
            <th>Address</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.Id }}</td>
            <td>{{ user.Name }}</td>
            <td>{{ user.Gender }}</td>
            <td>{{ user.Age }}</td>
            <td>{{ user.Birthdate }}</td>
            <td>{{ user.Address }}</td>√
        </tr>
        {% endfor %}

        <div>
            전체 페이지수: {{ total_pages }}
        </div>
    </table>
    <script>
        
    </script>
</body>
</html>